{extend name="base/common" /}
{block name="body"}
<div class="hai-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>已删友链</legend>
    </fieldset>
    <table class="layui-table">
        <colgroup>
            <col width="10">
            <col width="100">
            <col width="200">
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <td>lid</td>
            <td>排序</td>
            <td>链接名</td>
            <td>链接地址</td>
            <td>是否显示</td>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>lid</td>
            <td>排序</td>
            <td>链接名</td>
            <td>链接地址</td>
            <td>是否显示</td>
            <td>
                <button class="layui-btn layui-btn-mini"><i class="layui-icon">&#xe642;</i>编辑</button>
                <button class="layui-btn layui-btn-mini layui-btn-danger"><i class="layui-icon">&#xe640;</i>删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{/block}
{block name="js"}
{/block}