<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Haiblog博客系统</title>
    <link rel="stylesheet" href="{$_layui}/css/layui.css">
    <style>
        .hai-body{padding: 10px;}
        .left{float: left;width:64%;margin:0 1%;}
        .right{float: right;width:32%;margin:0 1%;}
    </style>
</head>
<body>
<div class="hai-body">
{block name="body"}{/block}
</div>
<script src="{$_layui}/layui.js"></script>
{block name="js"}{/block}
</body>
</html>