{extend name="base/common" /}
{block name="body"}
<div class="hai-body">
    <div class="left">
        <blockquote class="layui-elem-quote">
            欢迎使用Haiblog博客系统！<span class="f-14">v1.0</span>官方交流群： 907811190
        </blockquote>
        <p>登录次数：18600 </p>
        <p>上次登录IP：222.35.131.79.1  上次登录时间： 2017-08-21 23:59:55</p>
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="default">信息统计</a></legend>
        </fieldset>
        <table class="layui-table">
            <thead>
            <tr>
                <th>统计</th>
                <th>资讯库</th>
                <th>图片库</th>
                <th>产品库</th>
                <th>用户</th>
                <th>管理员</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>总数</td>
                <td>92</td>
                <td>9</td>
                <td>0</td>
                <td>8</td>
                <td>20</td>
            </tr>
            <tr>
                <td>本周</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>本月</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
        <table class="layui-table">
            <thead>
            <tr>
                <th colspan="2" scope="col">服务器信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th width="30%">服务器计算机名</th>
                <td><span id="lbServerName">http://127.0.0.1/</span></td>
            </tr>
            <tr>
                <td>服务器IP地址</td>
                <td>192.168.1.1</td>
            </tr>
            <tr>
                <td>服务器域名</td>
                <td>www.erdangjiade.com</td>
            </tr>
            <tr>
                <td>服务器端口 </td>
                <td>80</td>
            </tr>
            <tr>
                <td>服务器IIS版本 </td>
                <td>Microsoft-IIS/6.0</td>
            </tr>
            <tr>
                <td>本文件所在文件夹 </td>
                <td>D:\WebSite\HanXiPuTai.com\XinYiCMS.Web\</td>
            </tr>
            <tr>
                <td>服务器操作系统 </td>
                <td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>
            </tr>
            <tr>
                <td>系统所在文件夹 </td>
                <td>C:\WINDOWS\system32</td>
            </tr>
            <tr>
                <td>服务器脚本超时时间 </td>
                <td>30000秒</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <blockquote class="layui-elem-quote update_log">
            <p style="font-weight: bold;">v1.1.4更新日志2017-8-15</p>
            <p>
                1、修改设置表数据结构<br>
                2、修正后台删除栏目更新栏目缓存问题 <br>
                3、修正单页模型栏目不能删除问题 <br>
                4、修正后台列表页小屏幕下错位问题 <br>
                5、后台可设置留言回复的管理员和姓名 <br>
                6、修正在IE下上传图片/文件提示下载的问题<br>
            </p>
            <hr>
            <p style="font-weight: bold;">v1.1.3更新日志2017-8-7</p>
            <p>
                1、单页模型页面描述内容调整<br>
                2、搜狐畅言兼容http和https<br>
                3、IIS伪静态隐藏index.php配置<br>
                4、修复QQ登陆无效问题<br>
            </p>
        </blockquote>
    </div>
</div>
{/block}
{block name="js"}
{/block}